
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    height: auto;
    max-height: 80%;
    overflow: auto;
  }
  
  .closeButton {
    float: right;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .searchResults {
    overflow-y: auto;
    max-height: 500px; /* Adjust based on your preference */
  }
  
  .hitItem {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .hitCard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 10px;
    transition: transform 0.2s;
  }
  
  .hitCard:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }
  
  .readMoreLink {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .readMoreLink:hover {
    background-color: #0056b3;
  }
  