.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 2rem; */
  }
  
  .publishedDate {
    font-size: 1rem;
    font-weight: var(--font-weight-normal);
    font-family: var(--font-family-main);
    color: var(--color-foreground);
    display: flex;
    align-items: center;
  }
  
  .publishedDate:before {
    display: flex;
    align-self: center;
    margin-right: 0.5rem;
    content: '⚡';
  }
  
  .updatedDate {
    display: flex;
    align-items: center;
  }
  
  .updatedDate__date {
    font-size: 1rem;
    font-weight: var(--font-weight-normal);
    font-family: var(--font-family-main);
    color: var(--color-foreground);
  }
  
  .divider {
    margin: 0 0.5rem;
    color: var(--color-primary);
    font-size: 2rem;
  }
  
  .readingTime {
    font-family: var(--font-family-main);
    color: var(--color-foreground);
    font-size: 1rem;
    font-style: italic;
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-normal);
  }
  