@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --color-primary: #ffb626;
    --color-secondary: #82af3a;
    --color-tertiary: #f1c710;
    --color-foreground: #a9b5eb;
    --color-background: #ffffff;
    --color-muted: #666666;
  }
  body {
    @apply bg-gray100 text-sm text-gray800 md:text-sm;

  }

  .h1,
  h1 {
    @apply text-xl font-semibold leading-tighter md:text-5xl;
  }

  .h2,
  h2 {
    @apply text-2xl font-semibold leading-tight md:text-4xl;
  }

  .h3,
  h3 {
    @apply text-lg font-semibold leading-relaxed md:text-3xl;
  }

  .h4,
  h4 {
    @apply text-xs font-semibold leading-normal md:text-base;
  }

  p {
    @apply font-normal text-xl leading-snug tracking-snug text-gray600 md:leading-normal;
  }
}
